<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="
        text-align: center;
        box-shadow: 5px 5px 5px 5px gray;
        width: 800px;
        margin: 0 auto;
        font-size: 17px;
      "
      cellspacing="50px"
    >
      <tr>
        <td>
          <h1 style="text-align: center">
            "<span style="color: #ff9e1b">멋쟁이사자처럼</span>
            <span style="color: #002a68">명지대학교(자연)</span>"
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <%= user%>님 안녕하세요. <br />
          멋쟁이사자처럼 명지대학교(자연) 10기에 지원해 주셔서 감사합니다!
        </td>
      </tr>
      <tr>
        <td>
          <%= user%>님의 소중한 지원서가 무사히 명지대에 잘 도착했어요 o(〃＾▽＾〃)o<br />
          멋쟁이사자처럼에 관심을 가지고 귀한 시간을 투자해주신 <%= user%>님의 지원서를<br />
          꼼꼼하게 검토하기 위해 약간의 시간이 필요해요.
        </td>
      </tr>
      <tr>
        <td>
          1차 합격 발표는 3월 14일에 메일로 안내드릴 예정이에요.<br />
          만약 3월 14일이 지나도 메일을 받지 못하셨다면 스팸메일함/프로모션함을 확인한 후에
          인스타그램 DM으로 연락주세요.
        </td>
      </tr>
      <tr>
        <td>
          멋쟁이사자처럼 명지대학교(자연)에 있어 궁금한 사항이 있다면 언제든지 아래 연락처로 문의
          바랍니다 <br />
          <a style="color: #ff9e1b" href="https://www.instagram.com/mju_likelion/"
            >[멋쟁이사자처럼 명지대학교(자연) 인스타그램]</a
          >
        </td>
      </tr>
      <tr>
        <td>감사합니다.</td>
      </tr>
      <tr>
        <td>멋쟁이사자처럼 명지대학교(자연) 10기 운영진 드림</td>
      </tr>
    </table>
  </body>
</html>
