<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <table
      style="
        text-align: center;
        box-shadow: 5px 5px 5px 5px gray;
        width: 800px;
        margin: 0 auto;
        font-size: 17px;
      "
    >
      <td>
        <tr>
          <td>
            <h1 style="text-align: center; padding: 50px">
              "<span style="color: #ff9e1b">멋쟁이사자처럼</span>
              <span style="color: #002a68">명지대학교(자연)</span>"
            </h1>
          </td>
        </tr>
        <tr>
          <td>이메일 인증 안내입니다.</td>
        </tr>
        <tr>
          <td>안녕하세요. 멋쟁이사자처럼 명지대학교(자연)에 관심을 가져주셔서 감사합니다.</td>
        </tr>
        <tr>
          <td>아래 코드(링크)를 클릭해 회원가입을 완료해주세요!</td>
        </tr>
        <tr>
          <td style="color: #0087d1; padding-top: 50px; padding: 50px">
            <a href=https://apply.mju-likelion.com/auth/email-confirm/<%= token %>>회원가입 하기
          </td>
        </tr>
      </td>
    </table>
  </body>
</html>
