<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      style="
        text-align: center;
        box-shadow: 5px 5px 5px 5px gray;
        width: 800px;
        margin: 0 auto;
        font-size: 17px;
      "
      cellspacing="50px"
    >
      <tr>
        <td>
          <h1 style="text-align: center">
            "<span style="color: #ff9e1b">멋쟁이사자처럼</span>
            <span style="color: #002a68">명지대학교(자연)</span>"
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          안녕하세요. 멋쟁이사자처럼 명지대학교(자연) 10기 운영진입니다.<br />
          이번 멋쟁이사자처럼 명지대학교(자연) 10기에 지원해주셔서 정말 감사드립니다.<br />
          여러 지원자분들의 서류를 열심히 검토 후에, 1차 합격 여부를 결정하였습니다.
        </td>
      </tr>
      <tr>
        <td>
          지원자님은 이번 멋쟁이사자처럼 명지대학교(자연) 10기 1차 서류전형에 합격하셨습니다.
          축하드립니다!
        </td>
      </tr>
      <tr>
        <td>
          다음 면접 전형을 진행하기에 앞서 아래 면접 일정을 확인하신 후,<br />
          3월 15일(화) 13시까지 <strong style="color: #0087d1">"확인했습니다"</strong> 라고 메일 회신 부탁드립니다. 불가능한 시간대가 있다면, 해당 시간을 함께 회신해주세요.<br /> 
          >기한 내에 회신이 없다면 지원 포기로 간주하니 주의해 주세요.
        </td>
      </tr>
      <tr>
        <td>
          면접 상세<br />
          - 일정:
          <strong style="color: #0087d1"
            >3월 18일 (금) ~ 3월 19일 (토) (오전 10시 ~ 오후 9시) 예정</strong
          ><br />
          - 진행 방식: <strong style="color: #0087d1">구글밋을 이용한 비대면 화상 면접</strong
          ><br />
          - 면접 진행 전 카메라 상태를 확인해주세요.
        </td>
      </tr>
      <tr>
        <td>면접 진행 전, 지원자님에게 도움이 될만한 자료를 가져와봤어요!</td>
      </tr>
      <tr>
        <td>
          멋쟁이사자처럼 명지대학교(자연)의 문화를 이해하실 수 있는 저희 인스타그램 링크를
          보내드립니다. <br />귀한 시간 내어 지원해주시는 만큼, 서로에게 의미있는 시간이 될 수
          있도록 저희의 문화나 추구하는 가치에 대해 한번 참고 해보고 오시기 바랍니다. <br /><br />
          <a style="color: #ff9e1b" href="https://www.instagram.com/mju_likelion/"
            >[멋쟁이사자처럼 명지대학교(자연) 인스타그램]
          </a>
          <br />
          <a style="color: #ff9e1b" href="https://nana.mju-likelion.com">
            [멋쟁이사자처럼은 뭘 하는 곳인가요?]</a
          >
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          개발이 처음이시라면, 저희가 무엇을 배우는지 아래 링크를 통해 알아보세요!<br />
          <a style="color: #ff9e1b" href="https://www.youtube.com/watch?v=G7crMao49_I">
            [프론트엔드 백엔드 개발자는 무슨일을 하나요?]</a
          >
        </td>
      </tr>
      <tr>
        <td>
          개발에 열정이 있다면 참고하여 도전해보세요!<br />
          <a style="color: #ff9e1b" href="https://youtu.be/V9AGvwPmnZU">
            [지방대 개발 비전공자가 배달의 민족 리드 개발자가 되기 까지]</a
          >
        </td>
      </tr>
      <tr>
        <td>
          면접 진행에 있어 문의 사항이 있다면 연락 주세요!<br />
          <a style="color: #ff9e1b" href="https://open.kakao.com/me/mju_likelion">
            멋쟁이사자처럼 명지대학교(자연) 오픈채팅</a
          >
        </td>
      </tr>
      <tr>
        <td>감사합니다.<br /></td>
      </tr>
      <tr>
        <td>멋쟁이사자처럼 명지대학교(자연) 10기 운영진 드림.</td>
      </tr>
    </table>
  </body>
</html>
