<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="display: flex; flex-direction: column; align-items: center; width: 100%">
    <table
      style="text-align: center; width: 800px; box-shadow: 5px 5px 5px 5px gray; margin: 0 auto"
      cellspacing="20px"
    >
      <tr>
        <td>
          <h1 style="text-align: center; padding: 30px">
            "<span style="color: #ff9e1b">멋쟁이사자처럼</span> at
            <span style="color: #002a68">명지대 자연</span>"
          </h1>
        </td>
      </tr>
      <tr>
        <td>안녕하세요. 멋쟁이사자처럼 (명지대학교 자연) 10기 운영진입니다.</td>
      </tr>
      <tr>
        <td>비대면 면접 상황 속에서도,</td>
      </tr>
      <tr>
        <td>
          멋쟁이사자처럼 (명지대학교 자연) 면접에 최선을 다해주셔서 감사하다는 말씀 먼저 전합니다.
        </td>
      </tr>
      <tr>
        <td>지원자님은 멋쟁이사자처럼 (명지대학교 자연) 10기에 최종 합격하셨습니다.</td>
      </tr>
      <tr>
        <td style="padding-bottom: 20px; color: #0087d1; font-size: 22px">
          합격을 진심으로 축하드립니다! 🎉
        </td>
      </tr>
      <tr>
        <td>멋쟁이사자처럼 (명지대학교 자연)에서 지원자님의 열정을 마음껏 뽐내보세요!</td>
      </tr>
      <tr>
        <td>아래 절차에 따라 최종 등록을 부탁드립니다.</td>
      </tr>
      <tr>
        <td>
          •
          <a
            href="https://burnt-dahlia-f9e.notion.site/a2ea1069c3ec4c5abc8e205241641141"
            style="color: #ff9e1b"
            >링크</a
          >에 있는 서약서에 사인 후 [이메일]로 [이름]과 함께 전송 부탁드립니다.
        </td>
      </tr>
      <tr>
        <td>
          • [3월 22일 20:00] 이내에 위 두 가지를 전부 해주셔야 최종 등록으로 처리됩니다. <br />해당
          기간 내에 합격자 등록을 하지 않을 시 합격이 취소될 수 있습니다.
        </td>
      </tr>
      <tr>
        <td>
          멋쟁이사자처럼 명지대의 회원이 꼭 지켜야할 사항은
          <a
            href="https://burnt-dahlia-f9e.notion.site/21ff20fa6a474849b4c5a7eb92cf2a93"
            style="color: #ff9e1b"
            >멋쟁이사자처럼 (명지대학교 자연) 회칙</a
          >을 봐주세요.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 20px">
          합격 등록을 마친 후 10기 첫 걸음을 장식할 온라인 OT를 진행할 예정입니다! 참석하셔서 자리를
          빛내주세요.
        </td>
      </tr>
      <tr>
        <td>자세한 참석 방법은 추후 연락드릴 예정입니다.</td>
      </tr>
      <tr>
        <td><b>중앙 OT: 22년 03월 26일</b></td>
      </tr>
      <tr>
        <td><b>명지대 OT: 22년 03월 27일</b></td>
      </tr>
      <tr>
        <td style="padding-top: 10px">
          문의사항이 있으시다면 <b>대표 유예빈(010-3311-9451)</b>으로 연락 부탁드립니다.
        </td>
      </tr>
      <tr>
        <td>하루빨리 지원자님과 만나는 것을 기대하고있습니다!</td>
      </tr>
      <tr>
        <td>감사합니다.</td>
      </tr>
      <tr>
        <td style="padding-bottom: 30px">멋쟁이사자처럼 (명지대학교 자연) 10기 운영진 드림</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </body>
</html>
